<li class="z-depth-1 portlet  white theme-color-text" id="portlet-myaccount">
	<div class="portlet-header white ">
		<span class="fa fa-user" aria-hidden="true"></span> My account 
		<i class="fa fa-times close-widget   theme-color-text-2" aria-hidden="true"></i>
	<a href="{{url("my-account")}}" class="fa fa-pencil  theme-color-text-2">	</a>
	</div>
	<div class="portlet-content">
		<ul>
			<li class="text-center">
			 <img src="{{ user.avatar }}" class="responsive-img circle"></img>
			</li>
			<li>
				<label>Email : </label><span>{{user.email}}</span>
			</li>
			<li>
				<label>Speudo : </label><span>{{user.name}}</span>
			</li>
			<li>
				<label>Sexe : </label><span>{{user.sexe}}</span>
			</li>
			<li>
				<label>Numero : </label><span>{{user.numero}}</span>
			</li>
		</ul>
	</div>
</li>